@font-face{
    font-family: 'coding';
    font-display: swap;
    src: url('/font/CascadiaMonoItalic.ttf') format("truetype");
}
@font-face{
    font-family: 'vannesa';
    font-display: swap;
    src: url('/font/xiaowei.ttf') format("truetype");
}
body {
    font-family: 'coding','vannesa';
}
